.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-secondary);
    border-bottom: 5px solid var(--color-fifth);
    padding: 0 1rem;
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
}

.logo {
    font-family: "Lato";
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    flex-grow: 1;
    text-align: center;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: black;
    color: var(--color-fifth);
    text-decoration: inherit;
}

.item {
    font-family: "Lato";
    font-size: 1rem;
    display: flex;
    width: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--color-fifth);
    text-decoration: none;
    position: relative;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

/* Stacking items vertically on smaller screens */
@media (max-width: 768px) {
    .item {
        width: 100%;
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }
}

.item:last-child {
    margin-right: 1rem;
}

.item::before {
    content: attr(data-text);
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    bottom: 0.01rem;
    left: 25%;
    overflow: hidden;
    background-color: var(--color-fourth);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.9s ease;
}

.item:hover::before {
    transform: scaleX(1);
}

/* Adding hover effects for mobile devices */
.item:hover {
    color: var(--color-fourth);
}
