.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Ensure the editor takes full viewport height */
}

.book {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.icon {
    margin-top: 10px;
    width: 2rem;
    height: 2rem;
}

.icon:hover {
    color: #d3d3d3; /* Change this to your preferred highlight color */
    cursor: pointer;
}

/* Add a highlight effect for the selected tool */
.icon.selected {
    color: #d3d3d3; /* Change this to your preferred highlight color */
    color: #d3d3d3;
}

.canvasContainer {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    background-color: grey;
}

.toolbar {
    grid-column: 1;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    border-right: 5px solid var(--color-fifth);
    border-bottom: 5px solid var(--color-fifth);
    border-top: 5px solid var(--color-fifth);
    height: 60%;
    flex-shrink: 0; /* Prevent toolbar from shrinking */
}

.size {
    grid-column: 2 / span 3; /* Ensures canvas is in the second column */
    grid-row: span 4;
    align-self: center; /* Vertically centers the canvas */
    justify-self: center; /* Horizontally centers the canvas */
    overflow: scroll;
}

#canvas {
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
