.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff8de;
    background-color: #d0e8c5;
    height: 100vh;
    width: 100vw;
    overflow: auto; /* Enable scrolling */
    position: relative;
}

.edit {
    background-color: aliceblue;
    width: 800px; /* Larger width to allow horizontal scrolling */
    height: 800px; /* Larger height to allow vertical scrolling */
    display: block; /* Ensure it's treated as a block element */
}

.toolbar {
    background-color: white;
    border: 2px dashed red;
    border-radius: 10%;
    width: 30px;
    height: 300px;
    margin-right: 20px;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.svg-icon:hover {
    background-color: yellow;
    cursor: pointer;
}
