.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Ensure the editor takes full viewport height */
}

.book {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevent extra scrollbars */
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-tertiary);
    border-right: 5px solid var(--color-fifth);
    width: 50px; /* Adjust width as needed */
    height: 100%;
    flex-shrink: 0; /* Prevent toolbar from shrinking */
}

.icon {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.icon:hover {
    cursor: pointer;
}

/* Add a highlight effect for the selected tool */
.icon.selected {
    background-color: #d3d3d3; /* Change this to your preferred highlight color */
    border-radius: 8px;
}

#canvas {
    flex-grow: 1; /* Allow canvas to take up remaining space */
    border: 1px solid #ccc;
}
