.container {
  border: solid 3px black;
  font: 1rem lato;
  background-color: whitesmoke; 
  height: 20rem;
  width: 20rem;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
}

p { 
 padding-bottom: 0.5rem; 
}

.helper-text {
  padding-top: 1rem;
 font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  gap: 2.25rem;
}

button {
  background-color: blanchedalmond;
  font: 1rem lato;
  border: solid 0.10rem black; 
  border-radius: 10px;
}

button:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}
